html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  background-color: rgb(106, 217, 231);
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 30px; */
  margin-bottom: 100px;
  padding-left: 45px;
  padding-right: 40px;
  width: 270px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid rgb(175, 192, 171);
  background-color: rgb(246, 255, 127);
  outline: transparent;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.list-container {
  margin-left: auto;
  margin-right: auto;

  width: 600px;
}

.card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.card__content {
  margin-right: 30px;
}

.card__image {
  width: 400px;
}

.languages-list {
  padding-left: 20px;
}

.card__name {
  margin-top: 0;
}

.country-list {
  padding: 0;
}
